@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    color: #535353;
}

.navbar {
    box-shadow: 0 0 10px 2.5px rgba(0, 0, 0, 0.125);
    height: 55px;
    margin-bottom: 10px;
}

.navbar-brand img {
    height: 30px;
    width: auto;
    margin-top: 15px;
}

.text-404{
    font-size: 16rem;
}

.editor{
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #9f9f9f;
}

#editor {
    min-height: 70vh;
}

h1, h2, h3, h4, h5 {
    margin-bottom: 1rem !important;
}

.nav-item {
    font-weight: 600;
    font-size: 12px;
}

footer a{
    color: #535353;
}
footer a:hover{
    color: #535353;
}
.social {
    margin-bottom: 20px;
}
.social a{
    margin: 0 5px;
    font-size: 18px;
}

.faqContainer h2 {
    margin-top: 50px;
}